.card {
  width: 18rem;
  min-height: 20rem;
  margin: 0 4rem 1rem 4rem;
  border-radius: 20px;
}
.img-wrapper{
  width: inherit;
  position: relative;
}
.disc-ribbon{
  position: absolute;
  top:20px;
  right:-8px;
  color:var(--color-light);
  background-color: black;
  padding:.5rem 1rem .5rem 2rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 5px;
  font-size: 13px;
}
.triangle{
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
  transform: rotate(40deg);
  position: absolute;
  top:80%;
  right:4px;
  z-index:-1;
}
.card-img {
  width: inherit;
  -webkit-box-shadow: 0px 10px 15px -2px rgba(158, 145, 145, 0.75);
  -moz-box-shadow: 0px 10px 15px -2px rgba(158, 145, 145, 0.75);
  box-shadow: 0px 10px 15px -2px rgba(158, 145, 145, 0.75);
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem 0;
}
.striked-text{
    font-size: 1.3rem;
    padding-right:4px;
}
.price{
    font-size: 1.5rem;
    font-weight: 600;
}
.card-name{
    font-size: 1.3rem;
}
.card-desc,.striked-text{
    color:var(--color-grey);
}
.card-desc{
  width:80%;
}
.card-btn{
    width:100%;
    margin:1rem 0;
    padding:.5rem 0;
    border:2px solid var(--color-primary);
    color:var(--color-primary);
    background-color: var(--color-light);
    cursor: pointer;
}


.product-qty-handler{
  margin:1rem 0;
}
.qty-product-input{
  width:100%;
  border:1px solid var(--color-primary);
}

