.cart-container {
  margin: 2rem 7rem;
}

.home-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.cart-head {
  margin: 1rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.cards-wrapper {
  align-items: flex-start;
  margin-top: 2rem;
}
.cart-product-container {
  border: 1px solid var(--color-grey-50);
  width: 55%;
  height: 38rem;
  border-radius: 4px;
  position: relative;
}
.cart-product-card {
  padding: 1.5rem 0;
}

.cart-product-head {
  padding: 2rem 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}


.s-no {
  padding-left: 2.5rem;
  flex-grow: 0;
}
.qty-head {
  flex-grow: 1;
}
.cart-items-head {
  flex-grow: 1;
  padding: 0 5rem;
}

.product-name{
  white-space: nowrap;
}
.qty-btn {
  height: 2.5rem;
  font-weight: 600;
  color: white;
  background-color: rgb(88, 86, 86);
  font-size: 1.3rem;
  border: none;

}
.qty-btn-plus {
  padding: 0 0.7rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.qty-btn-minus {
  padding: 0 0.8rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.qty-input {
  padding: 0.72rem 0;
  text-align: center;
  font-weight: 600;
}

.order-summary-container {
  background-color: var(--color-primary-50);
  width: 30%;
  min-height: 10rem;
  margin-left: 2rem;
  border-radius: 4px;
}

.order-head,.tax-wrapper {
  padding: 2rem;
  position: relative;
}
.cart-card-wrapper{
  position: relative;
}
.order-head::after,
.cart-product-head ::after,
.tax-wrapper::after,
.cart-card-wrapper:last-child::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 5rem;
  z-index: 9;
  height: 1px;
  width: 95%;
  border-bottom: 1px solid var(--color-grey);
}
.cart-card-wrapper:last-child::after {
  bottom:10rem;
  border-bottom: 1px solid var(--color-grey-50);
}
.tax-wrapper::after {
  top:3.2rem;
}
.cart-product-head ::after {
  border-bottom: 1px solid var(--color-grey-50);
}

.price-list{
  padding:1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: space-between;
  margin:0 2rem;
}
.order-desc{
  position: relative;
  margin:1rem 0;
  padding-bottom: 1.5rem;
}
.order-desc::after{
  content: "";
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: 9;
  height: 1px;
  width: 95%;
  border-bottom: 1px solid var(--color-grey);
}
.btn-order{
  margin:1rem 0 2rem 0;
  background-color: var(--color-primary);
  color: var(--color-light);
  border: none;
  padding: .5rem 5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}
.disc-price{
  color:var(--color-success);
}
.add-more-wrapper{
  margin:1rem 3rem;
  padding:2rem 0;
  height:16.5rem;
}
.Add-more-link{
  color:var(--color-primary);
  text-decoration: none;
  font-size: 1.2rem;
}
.net-price{
  font-weight: 600;
  font-size: 1.3rem;
}
.btn-blue{
  width:5rem
}
@media only screen and (max-width:1200px){
  .cart-container{
    margin:2rem;
  } 
  .cards-wrapper {
    flex-direction: column-reverse;
  }
  .cart-product-container,.order-summary-container{
    width:100%;
    margin:1rem 0
  }
  
  
}
@media only screen and (max-width:600px){
  .qty-input {
    width:20%;
  }  
  .s-no {
    padding-left: 0.2rem;
  } 
  .cart-product-card{
    justify-content: center;
  }
  .product-name{
    margin-left:3rem;
  }

}

