.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 3rem;
}
.nav-heading{
    text-decoration: none;
}

.logo-icon{
    width:2rem;
    height:2rem;
}
.logo-name{
    padding-left:5px;
}
.logo-name{
    color:var(--color-primary);
    font-weight: 700;
    font-size:1.5rem;
}
.nav-links > li{
    list-style: none;
}
.cart-wrapper{
    position: relative;
    padding:0 .8rem;
}
.qty-badge{
    position: absolute;
    top:-6px;
    left:32px;
    background-color: var(--color-danger);
    padding:.2rem .4rem;
    border-radius: 50%;
    font-size: .7rem;
}
.profile-img{
    width:1.5rem;
    height:1.5rem;
    border-radius: 50%;
}