.centered{
  display:flex;
  justify-content: center;
  align-items: center;
}
.pointer{
  cursor:pointer;
}
.bottom-shadow{
  -webkit-box-shadow: 0px 10px 10px -12px rgba(158, 145, 145, 0.75);
  -moz-box-shadow: 0px 10px 10px -12px rgba(158, 145, 145, 0.75);
  box-shadow: 0px 10px 10px -12px rgba(158, 145, 145, 0.75);
}