*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root{
  --color-primary:#1f5dda;
  --color-primary-50:#dbe3f1;
  --color-danger:rgb(248, 9, 9);
  --color-light:rgb(255, 255, 255);
  --color-grey:#888888;
  --color-grey-50:#e9e0e0;
  --color-success:rgb(7, 116, 7);
}
